.container{
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 300px;
    flex-wrap: wrap;
    gap: 10px;
}

.grandParent{
    display: flex;
    gap: 10px;
    flex-grow: 1;
}
.parent{
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-grow: 1;
}
.box1{
    background-color: turquoise;
    flex-grow: 1;
}
.box2{
    background-color: yellow;
    flex-grow: 1;
}
.box3{
    background-color: blue;
    flex-grow: 1;
}
.box4{
    background-color: red;
    flex-grow: 1;
}
.box5{
    background-color: green;
    flex-grow: 1;
    height: 100%;
}