$images: 'deep-earth','night-arcade','soccer-team','grid','from-above','pocket-borealis','curiosity','fisheye';

@mixin images($screenType){
    @for $contor from 1 through 8 {
        &:nth-of-type(#{$contor}){
            $image: nth($images, $contor);
            background-image: url('../images/#{$screenType}/image-#{$image}.jpg');
        }
    }
}