@import "colors";
@import "spacings";
@import "typography";
@import "base";
@import "mixins";

.hero {
    background-image: url("../images/mobile/image-hero.jpg");
    background-position: center;
    background-size: cover;
    height: 100vh;
    padding-top: $largeSpacing;
    position: relative;

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    button {
        background-color: transparent;
        border: none;
    }

    nav {
        display: none;
    }

    h1 {
        font-weight: 200;
        margin: 0;
        position: absolute;
        color: $white;
        border: 2px solid $white;
        text-align: center;
        padding: $mediumSpacing;
        // margin-inline: auto;
        top: 50%;
        transform: translateY(-50%);
        width: calc(100% - 2 * $containerSpacing);
        text-align: left;
    }
}

.interaction {
    margin-top: $xxlSpacing;

    img {
        margin: 0 auto;
    }

    p {
        color: $darkGrey;
        margin-top: 0;
    }

    .text {
        text-align: center;
        padding: 0 $mediumSpacing;
    }
}

.creation {
    margin-top: $xxlSpacing;

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;

        h2 {
            text-align: center;
        }

        .articleList {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: $mediumSpacing;
        }


        article {
            height: 180px;
            background-position: top center;
            padding: $mediumSpacing;
            display: flex;
            align-items: flex-end;

            @include images('mobile');

            h3 {
                width: 40%;
                color: $white;
                margin: 0;
            }
        }

        button {
            letter-spacing: 4px;
            margin-top: $largeSpacing;
            background-color: $white;
            border: 1px solid $black;
            padding: $baseSpacing $largeSpacing;
            text-transform: uppercase;
            cursor: pointer;
        }
    }
}


footer {
    margin-top: $xxlSpacing;
    background-color: $black;

    .container {
        padding: $mediumSpacing 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: $baseSpacing;
    }

    ul {
        text-align: center;
        display: flex;
    }

    nav {
        ul {
            flex-direction: column;
            gap: $baseSpacing;
        }
    }

    .social{
        margin-top: $baseSpacing;
        width: 150px;
        justify-content: space-between;
    }

    p {
        color: $white;
    }
}